In [1]:
#Importing libraries
import numpy as np 
import pandas as pd 
import io
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('BuyComputer.csv')

data.drop(columns=['User ID',],axis=1,inplace=True)
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [3]:
#Declare label as last column in the source file
label=data['Purchased']
label

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [4]:
#Declaring X as all columns excluding last
X=data[['Age','EstimatedSalary']]
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [5]:
# Splitting data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,label,test_size=0.3,random_state=48)
X_train, X_test, y_train, y_test

(     Age  EstimatedSalary
 132   30            87000
 372   39            73000
 56    23            48000
 141   18            68000
 333   40            65000
 ..   ...              ...
 320   52           138000
 347   54           108000
 337   35            79000
 51    18            44000
 0     19            19000

 [280 rows x 2 columns],
      Age  EstimatedSalary
 150   26            15000
 206   55           130000
 191   19            26000
 243   56           104000
 385   56            60000
 ..   ...              ...
 110   39            71000
 87    28            85000
 335   36            54000
 259   45           131000
 38    26            72000

 [120 rows x 2 columns],
 132    0
 372    0
 56     0
 141    0
 333    0
       ..
 320    1
 347    1
 337    0
 51     0
 0      0
 Name: Purchased, Length: 280, dtype: int64,
 150    0
 206    1
 191    0
 243    1
 385    1
       ..
 110    0
 87     0
 335    0
 259    1
 38     0
 Name: Purchased, Length: 120, dtype: int64)

In [6]:
# Sacaling data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#Variabes to calculate sigmoid function
y_pred = []
len_x = len(X_train[0])
w = []
b = 0.2
print(len_x)

entries = len(X_train[:,0])
entries

for weights in range(len_x):
    w.append(0)
w

2

[0, 0]

In [7]:
# Sigmoid function
def sigmoid(z):
  return 1/(1+np.exp(-z))

def predict(inputs,w):
    z=np.dot(inputs,w)
    return sigmoid(z)

#Loss function
def loss_func(features,labels,w):
    observations = len(labels)
    predictions = predict(features, w)
    class1_cost = -labels*np.log(predictions)
    class2_cost = (1-labels)*np.log(1-predictions)
    cost = class1_cost - class2_cost
    cost = cost.sum() / observations
    return cost

In [8]:
dw = []
db = 0
J = 0
alpha = 0.1
for x in range(len_x):
    dw.append(0)

def update_weights(features, labels, weights, lr):    
    
    N = len(features)    
    predictions = predict(features, weights)    
    gradient = np.dot(features.T,  predictions - labels)    
    gradient /= N    
    gradient *= lr    
    weights -= gradient

    return weights

In [11]:
#Repeating the process 3000 times
cost_history = []
for i in range(3000):
    w = update_weights(X, label, w, alpha)

    #Calculate error for auditing purposes
    cost = loss_func(X, label, w)
    cost_history.append(cost)

    # Log Progress
    if i % 1000 == 0:
        print("iter: "+ str(i) + " cost: "+str(cost))

#Print weight
w

#print bias
b

C:\Users\Dells\AppData\Local\Temp/ipykernel_15880/3676356478.py:3: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-z))
C:\Users\Dells\AppData\Local\Temp/ipykernel_15880/3676356478.py:14: RuntimeWarning: divide by zero encountered in log
  class2_cost = (1-labels)*np.log(1-predictions)
C:\Users\Dells\AppData\Local\Temp/ipykernel_15880/3676356478.py:13: RuntimeWarning: divide by zero encountered in log
  class1_cost = -labels*np.log(predictions)

iter: 0 cost: inf
iter: 1000 cost: inf
iter: 2000 cost: inf

0.2

In [12]:
#predicting the label
predicted_labels=predict(X_test,w)

#print actual and predicted values in a table
predicted_labels,label

C:\Users\Dells\AppData\Local\Temp/ipykernel_15880/3676356478.py:3: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-z))

(array([1.00000000e+000, 0.00000000e+000, 1.00000000e+000, 0.00000000e+000,
        1.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        7.26345912e-283, 1.00000000e+000, 1.00000000e+000, 0.00000000e+000,
        1.00000000e+000, 4.41478301e-078, 0.00000000e+000, 1.00000000e+000,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 1.00000000e+000,
        1.00000000e+000, 2.92756822e-141, 0.00000000e+000, 1.85861222e-070,
        0.00000000e+000, 1.00000000e+000, 1.00000000e+000, 4.41478301e-078,
        1.00000000e+000, 4.16187522e-121, 1.00000000e+000, 1.00000000e+000,
        0.00000000e+000, 7.37645854e-106, 1.06321713e-209, 3.05629654e-212,
        9.60092754e-182, 0.00000000e+000, 1.00000000e+000, 0.00000000e+000,
        1.00000000e+000, 0.00000000e+000, 1.00000000e+000, 1.00000000e+000,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000, 1.00000000e+000,
        1.00000000e+000, 1.00000000e+000, 1.00000000e+000, 1.00000000e+000,
        0.00000000e+000, 1.00000000e+000, 0.00000000e+000, 4.16187522e-121,
        1.00000000e+000, 1.00000000e+000, 1.00000000e+000, 0.00000000e+000,
        1.00000000e+000, 1.00000000e+000, 0.00000000e+000, 1.00000000e+000,
        1.44782320e-118, 1.00000000e+000, 1.00000000e+000, 1.00000000e+000,
        1.00000000e+000, 3.64801329e-083, 1.00000000e+000, 1.00000000e+000,
        3.14861355e-222, 4.16187522e-121, 1.00000000e+000, 1.00000000e+000,
        1.00000000e+000, 1.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000, 1.00000000e+000, 1.00000000e+000, 0.00000000e+000,
        1.00000000e+000, 0.00000000e+000, 0.00000000e+000, 1.00000000e+000,
        0.00000000e+000, 1.00000000e+000, 1.00000000e+000, 0.00000000e+000,
        1.00000000e+000, 0.00000000e+000, 1.00000000e+000, 1.00000000e+000,
        0.00000000e+000, 1.00000000e+000, 0.00000000e+000, 9.99999300e-001,
        1.00000000e+000, 0.00000000e+000, 9.05092330e-225, 0.00000000e+000,
        1.00000000e+000, 0.00000000e+000, 0.00000000e+000, 1.00000000e+000,
        1.00000000e+000, 1.00000000e+000, 0.00000000e+000, 1.26906214e-080,
        0.00000000e+000, 1.00000000e+000, 0.00000000e+000, 5.50409831e-083]),
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 395    1
 396    1
 397    1
 398    0
 399    1
 Name: Purchased, Length: 400, dtype: int64)

In [13]:
# Calculating accuracy of prediction
diff = predicted_labels - y_test
acc=1.0 - (float(np.count_nonzero(diff)) / len(diff))
acc

0.2666666666666667

In [14]:
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(random_state = 48)

#Fit
LR=LR.fit(X_train,y_train)
#predicting the test label with LR. Predict always takes X as input
y_pred=LR.predict(X_test)
y_pred

array([0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0], dtype=int64)